* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: #3a3b3a
}

h1 {
    font-size: 70px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3a3b3a;
}

.FirstSection_txt {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3a3b3a;
    font-style: italic;
} 

.SecondSection_Poems {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    color: #3a3b3a;
}

.SecondSection_Poems .back {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}